
.CANavigationDiv {
	width:220px;
	float:right;
	margin:0;
	padding:10px 30px;
}
.CANavigationDiv ul {
	list-style:none;
	padding:5px;
	margin:5px;
}
.CANavigationDiv li {
	background:url(../images/right_ul_li_bg.gif) left no-repeat;
	border-bottom:1px solid #cecece;
	padding:5px 15px;
	margin:0;
}
.CANavigationDiv li a {
	font: normal 11px Tahoma, Geneva, sans-serif;
	color:#2f2f2f;
	text-decoration:none;
}
.CANavigationDiv li a:hover {
	color:#35beff;
	text-decoration:underline;
}
.CANavigationDiv h2 {
	color:#003399;
	font:normal 14px Arial, Helvetica, sans-serif;
	text-indent:20px;
	margin-top: 0px;
	margin-right: 0;
	margin-left: 0;
	padding-top: 5px;
	padding-right: 0;
	padding-left: 5px;
	padding-bottom: 5px;
	background-image: url(../images/right.jpg);
	background-repeat: no-repeat;
	background-position: left;
	position:relative;
	cursor:pointer;
}

.CANavigationDiv2 {
	width:220px;
	float:right;
	margin:0;
	padding:0px 0px 0px 11px;
}
.CANavigationDiv2 h3 {
	color:#003399;
	font:normal 14px Arial, Helvetica, sans-serif;
	text-indent:20px;
	margin-top: 0px;
	margin-right: 0;
	margin-left: 0;
	padding-top: 5px;
	padding-right: 0;
	text-align: left;
}
.CANavigationDiv p {
	font: normal 11px Tahoma, Geneva, sans-serif;
	color:#6f6f6f;
	padding:1px;
	margin:0;
	line-height:1.8em;
}

.Navhover
{
	color:#35beff;
	text-decoration:underline;
}