<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>C&amp;A</title>
<link href="css/theme.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--header start -->
<div id="header"> <img src="images/logo.gif" class="logo" />
  <p>4:30PM, Hi Sissy, Desgin</p>

  <ul class="navi">
    <li  class="current"><a href="#"><b>Home</b></a></li>
    <li ><a href="#"><b>Company</b></a></li>
    <li><a href="#"><b>Department</b></a></li>
    <li><a href="#"><b>Workflow</b></a></li>
    <li><a href="#"><b>Document</b></a></li>
    <li><a href="#"><b>Search</b></a></li>
  </ul>
  <form name="serach" method="post" action="#">
    <input name="serch" type="text" class="textbox" maxlength="20" />
    <input type="submit" name="sib" class="go" value="" />
  </form>
  <ul class="Quick">
    <li class="line"> <img src="images/quick_ico1.png" /> <span> Online Payment</span></li>
    <li class="line"> <img src="images/quick_ico2.png" /> <span> Other Link</span></li>
    <li class="line"> <img src="images/quick_ico3.png" /> <span> Other Link</span></li>
    <li class="line"> <img src="images/quick_ico4.png" /> <span> Other Link</span></li>
    <li class="line2"><img src="images/weather_ico.png" />
      <h2>Today  6°/16°</h2>
    </li>
    <li class="line3"><img src="images/weather_ico1.png" / >
      <h3>Thursday 21°/15°</h3>
    </li>
    <li class="line3"><img src="images/weather_ico2.png" / >
      <h3>Friday   19°/17°</h3>
    </li>
  </ul>
</div>
<!--header end -->
<!--Special -->
<div id="center">
<div id="special">
  <h2 class="spea">Company news</h2>
</div>
<div id="special">
  <h4 class="spea">My work</h4>
</div>
<div id="Company">
  <h3 class="spea"><img src="images/gg.gif" /> news: </h3>
  <dl>
    <dt>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dt>
    <dt>&nbsp;&nbsp;&nbsp;&nbsp;</dt>
    <dt>&nbsp; </dt>
    <dt>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dt>
    <dt>&nbsp; </dt>
  </dl>
  <h4 class="spea">
    <dl>
      <dt>&nbsp; </dt>
      <dt>&nbsp; </dt>
      <dt>&nbsp; </dt>
      <dt>&nbsp; </dt>
    </dl>
  </h4>
</div>

<!--Special end -->
<!--not body part start -->
<div id="botBody">
  <!--Department News start -->
  <div class="subdiv">
    <h2 >Department News</h2>
    <!--sub div 1 start -->
    <div class="subdiv1"> <img src="images/pic.gif" alt="" />
      <h3>10.06.07</h3>
      <h4>xxxxx xxxxx xxxxx xxxxx xxxxx </h4>
      <p>xxxxx xxxxx xxxxx xxxxx xxxxx </p>
    </div>
    <!--sub div end -->
    <!--sub div 2 start -->
    <div class="subdiv1"> <img src="images/pic.gif" alt="" />
      <h3>10.06.07</h3>
      <h4>xxxxx xxxxx xxxxx xxxxx xxxxx </h4>
      <p>xxxxx xxxxx xxxxx xxxxx xxxxx </p>
      <br class="spacer" />
    </div>
    <!--sub div end -->
    <!--sub div 1 start -->
    <div class="subdiv1"> <img src="images/pic.gif" alt="" />
      <h3>10.06.07</h3>
      <h4>xxxxx xxxxx xxxxx xxxxx xxxxx </h4>
      <p>xxxxx xxxxx xxxxx xxxxx xxxxx </p>
    </div>
    <!--sub div end -->
    <!--sub div 2 start -->
    <div class="subdiv1"> <img src="images/pic.gif" alt="" />
      <h3>10.06.07</h3>
      <h4>xxxxx xxxxx xxxxx xxxxx xxxxx </h4>
      <p>xxxxx xxxxx xxxxx xxxxx xxxxx </p>
      <br class="spacer" />
    </div>
    <!--sub div end -->
    <!--sub div 1 start -->
    <div class="subdiv1"> <img src="images/pic.gif" alt="" />
      <h3>10.06.07</h3>
      <h4>xxxxx xxxxx xxxxx xxxxx xxxxx </h4>
      <p>xxxxx xxxxx xxxxx xxxxx xxxxx </p>
    </div>
    <!--sub div end -->
    <p class="more marTop"><a href="#">more</a></p>
  </div>
  <!--member end -->
  <!--Announcement start -->
<div class="subdiv">
    <h2 >Announcement</h2>
    <!--sub div 1 start -->
    <div class="subdiv1"> <img src="images/pic2.gif" alt="" />
      <h3>10.06.07</h3>
      <h4>xxxxx xxxxx xxxxx xxxxx xxxxx </h4>
      <p>xxxxx xxxxx xxxxx xxxxx xxxxx </p>
    </div>
    <!--sub div end -->
    <!--sub div 2 start -->
    <div class="subdiv1"> <img src="images/pic2.gif" alt="" />
      <h3>10.06.07</h3>
      <h4>xxxxx xxxxx xxxxx xxxxx xxxxx </h4>
      <p>xxxxx xxxxx xxxxx xxxxx xxxxx </p>
      <br class="spacer" />
    </div>
    <!--sub div end -->
    <!--sub div 1 start -->
    <div class="subdiv1"> <img src="images/pic2.gif" alt="" />
      <h3>10.06.07</h3>
      <h4>xxxxx xxxxx xxxxx xxxxx xxxxx </h4>
      <p>xxxxx xxxxx xxxxx xxxxx xxxxx </p>
    </div>
    <!--sub div end -->
    <!--sub div 2 start -->
    <div class="subdiv1"> <img src="images/pic2.gif" alt="" />
      <h3>10.06.07</h3>
      <h4>xxxxx xxxxx xxxxx xxxxx xxxxx </h4>
      <p>xxxxx xxxxx xxxxx xxxxx xxxxx </p>
      <br class="spacer" />
    </div>
    <!--sub div end -->
    <!--sub div 1 start -->
    <div class="subdiv1"> <img src="images/pic2.gif" alt="" />
      <h3>10.06.07</h3>
      <h4>xxxxx xxxxx xxxxx xxxxx xxxxx </h4>
      <p>xxxxx xxxxx xxxxx xxxxx xxxxx </p>
    </div>
    <!--sub div end -->
    <p class="more marTop"><a href="#">more</a></p>
  </div>
  <!--Announcement end -->
  <!--Contact list  start -->
  <div class="subdiv2">

    <h2 class="testi"> Contact list </h2>
    <h4><strong>L.Brian</strong></h4>
    <h4 class="green">On 23rd June 2007</h4>
    <p class="text"><i>xxxxxxxxxxxx </i></p>
    <h4><strong>L.Brian</strong></h4>
    <h4 class="green">On 23rd June 2007</h4>
    <p class="text"><i>xxxxxxxxxxxx </i></p>
    <p class="more"><a href="#">more</a></p>
    <p class="bot">&nbsp;</p>
  </div>
  <!--Contact list  end -->
  <br class="spacer" />
</div>

</body>
</html>

<div id="Div1">
    <div class="subdiv">
        <webpartpages:webpartzone runat="server" frametype="TitleBarOnly" id="Left" title="loc:Left"><ZoneTemplate></ZoneTemplate></webpartpages:webpartzone>
    </div>
    <div class="subdiv">
        <webpartpages:webpartzone runat="server" frametype="TitleBarOnly" id="Center" title="loc:Center"><ZoneTemplate></ZoneTemplate></webpartpages:webpartzone>
    </div>
</div>
<div class="subdiv2">
    <webpartpages:webpartzone runat="server" frametype="TitleBarOnly" id="Right" title="loc:Right"><ZoneTemplate></ZoneTemplate></webpartpages:webpartzone>
</div>
</div>

