<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- CSV 数据映射文件路径 -->
    <add key ="CsvDataMappingFilePath" value="CsvDataMapping.xml"/>

    <!-- AD 数据映射文件路径 -->
    <add key ="ADDataMappingFilePath" value="ADDataMapping.xml"/>

    <!-- CSV 数据分割符 -->
    <add key ="CsvDataDelimiter" value="&#009;"/>

    <!-- CSV 数据编码 -->
    <add key ="CsvFileEncoding" value="UTF-8"/>

    <!-- CSV 数据文件路径 -->
    <add key ="CsvFilePath" value="\\\\192.168.6.102\\sapint\\ZHRI202.txt"/>

    <!-- AD LDAP 字符串 -->
    <add key ="LDAPString" value="LDAP://DC=CNAIDC,DC=cn"/>

    <!-- AD/CSV 数据导入目标网站 -->
    <add key="CAWebSiteUrl" value="http://cnashsptest.cnaidc.cn:91"/>

    <!-- AD/CSV 用户数据导入灰名单所用的List名称 -->
    <add key="HRDataImportExceptionsListName" value="HRDataImportExceptions"/>

    <!-- 日志文件路径 -->
    <add key="LogFilePath" value="C:\\"/>

    <!-- 是否在日志文件中记入用户更新名单 -->
    <add key="LogUpdatedUsers" value="False"/>
  </appSettings>
</configuration>