<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="deptHead" value="cx\ztao"/>
    <add key="strHRAccount" value="cx\ztao"/>
    <add key="strHRHeadAccount" value="cx\ztao"/>
  </appSettings>
    <connectionStrings/>
    <system.web>
      <pages>
        <controls>
          <add tagPrefix="sf" namespace="SmartForm" assembly="SmartForm, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5c316ab1553f48f2"/>
        </controls>        
      </pages>
    </system.web>
</configuration>
